
:root {
    --green: #1b612b;  
    --red: #aa1625;    
    --white: #ffffff;  
    --black: #222427;  
}
body {
    font-family: Arial, sans-serif;
    background-color: #434343;  
}
header {
    background-color: var(--green);  
    color: var(--white);  
}
.btn-red {
    background-color: var(--red);  
    border-color: var(--red);  
}

.btn-red:hover {
    background-color: darken(var(--red), 10%);  
    border-color: darken(var(--red), 10%);
}
#content {
    padding: 20px;
}
a {
    color: var(--green);  
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    color: var(--black);  
}

.container {
    margin-top: 30px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
section {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h3 {
    margin-bottom: 1rem;
}