{% extends "Legia/base.html" %}

{% block title %}{{ game.name }}{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'game-list' %}" class="btn btn-secondary mb-3">⟵ Powrót do listy</a>
    <h1 class="mb-4">Szczegóły meczu</h1>
    
    <div class="card p-4">
        <p><strong>Przeciwnik:</strong> {{ game.opponent }}</p>
        <p><strong>Drużyna:</strong> {{ game.team }}</p>
        <p><strong>Miejsce meczu:</strong> {{ game.game_spot }}</p>
        <p><strong>Typ rogrywek:</strong> {{ game.game_type }}</p>
        <p><strong>Data meczu:</strong> {{ game.date }}</p>
        <p><strong>Wynik twojej drużyny:</strong> {{ game.score_legia }}</p>
        <p><strong>Wynik przeciwnika:</strong> {{ game.score_opponent }}</p>
    </div>
</div>
{% endblock %}  
